USE [master]
GO
/****** Object:  Database [LghStudent_2410900041_Db]    Script Date: 9/26/2026 9:04:51 AM ******/
CREATE DATABASE [LghStudent_2410900041_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LghStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\LghStudent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LghStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\LghStudent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LghStudent_2410900041_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LghStudent_2410900041_Db]
GO
/****** Object:  Table [dbo].[LghStudent]    Script Date: 9/26/2026 9:04:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LghStudent](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LghName] [nvarchar](50) NULL,
	[LghGender] [bit] NULL,
	[LghBirthDay] [date] NULL,
	[LghEmail] [varchar](50) NULL,
	[LghPhone] [char](12) NULL,
	[LghActive] [bit] NULL,
 CONSTRAINT [PK_LghStudent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
